<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=yes" />

<title>Index</title>



</head>
<body ng-app="firstApp">
	<h1>AngularJS SPA CRUD</h1>
	<div>
		<a ui-sref="home">Index</a> 
		<a ui-sref="listUsers">List Users</a>
		<a ui-sref="addUser">Add User</a>
		<a ui-sref="addUsersCSV">Add Users From CSV</a>
	</div>

	<ui-view></ui-view>


	<script th:src="@{js/angular.js}"></script>

	<script type="text/javascript" src="js/app.js" th:src="@{js/app.js}"></script>

	<script type="text/javascript" th:src="@{js/angular-ui-router.js}"></script>

	<script src="controllersJS/userController.js"></script>
</body>
</html>